body
{ 
    background: #313540;
	color:whitesmoke;
	line-height: 0px;
}

#image{
    text-align: center;
    width: 100%;
    padding-top: 5%;
}

 #ButtonTest { 
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*padding & line height &width & height make the clickable area larger into a button. inline block displays them side by side on a line*/
#ButtonSite 
{ 
	font-family: 'Open Sans', sans-serif;
    background-color: #3b404d;
    border: none;
    color: #e1e5f0;
	padding: 20px;
	line-height: 40px;
    text-decoration: none;
	display: inline-block;
	vertical-align: bottom;
	font-size: 14px;
	width: 85;
	height: 45;
}

/*
needed for small vertical spaces between buttons
*/
#psmall
{
    line-height: 90px;
}

/*color for hovering button sites & focusing*/
#buttonSite:hover, #buttonsite:focus
{ 
	color: #2d313b;
	background-color: #D03568;
}

input[type=submit]:active, #buttonSite:active
{ 
	background-color: #FF417F;

}

#DivSites
{ 
	text-align: center;
	margin: auto;
	width: 75%;
}

/*no border, height of 30 px, width of
80% of the di it is inside*/
input[type=text] 
{
    font-family: inherit;
	padding: 0 10px 0 10px;
    border: none;
    height: 30px;
    width: 80%;
}

/*font is open sans, no border, same size
as input, 18% of div*/
input[type=submit]
{ 
    font-family: inherit;
    border:none;
    height: 31px;
    width: 17%;
	background-color: #D03568;
	color: #1D1E21;
}

/* submit + search field are not 100%
of the div because it wil need
2 lines*/

#divsearch
{ 
	width: 400px;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
}

#BottomDiv
{ 
	margin: auto;
	padding: 10px;
	width: 100%;
	bottom: 4%;
}

#BottomDivAlign
{
	position: absolute;
	width:96.4%;
	bottom: 7%;
}


/*
---------------------------------
---------------------------------
css for tabs below

it is radio buttons styled to look
like normal buttons for tabs.
---------------------------------
---------------------------------
*/



label 
{
	display: inline-block;
	padding: 20px 23.7px;  
	text-align: center;
	cursor: pointer;
	background-color: #333742;
	color: #595959;
}

label:hover, label:focus
{
	background-color: #373C47;
}

#tab1:checked ~ .content #content1,
#tab2:checked ~ .content #content2,
#tab3:checked ~ .content #content3,
#tab4:checked ~ .content #content4 
{
	display: block;
	background-color: #3b404d;

}

input:checked + label 
{   
	color: #fff;
	background-color: #3b404d;
}

input[type=radio]
{
	display:none;
}

.content
{
}

.content > div 
{
	display: none; 
	padding: 20px 25px 5px;
}

